#env variables
.env
.env.*

#python cache
__pycache__/

#python virt env
.venv/
venv/
env/

#node libr modules
node_modules/

dist/
build/

#local database
*.db

#vsc config files
.vscode/

#pytest
.pytest_cache
.cache
